a:link,.record{
    font-size:12px;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

div.footer_content_nav a,div.footer_copyRight a{
    color:#555;
}


body{
    width:1366px;
}

div.footer{
    width: 80%;
    margin:20px auto;

}

.myFont{
    color:#888;
    font-size:12px;
}

.myMargin{
    margin-bottom:30px;
}

/*footer_content*/
div.footer_content{
    border:1px solid transparent;
    border-top-color:#d6d6d6;
    border-bottom-color: #d6d6d6;
    padding:20px 0 10px;
}
div.footer_content_nav>div{
    width:20%;
    float:left;
}
div.footer_content_nav div ul li{
    margin:7px 0;
}
div.footer_content div.ps{
    margin-top:30px;
}
div.footer_content div.ps a{
    color:#0070c9;
}

/*Footer_copyRight*/
div.footer_copyRight div p.myFont{
    padding:4px 0 7px;
}
div.footer_copyRight div ul{
    margin-left:20px;
}
div.footer_copyRight div ul li{
    float:left;
    margin:0 4px;
}
div.footer_copyRight div ul li b{
    color: #d9d9d9;
}

div.footer_copyRight div p.record{
    clear:left;
    color:#666;
}