/*Footer统一样式*/
#footer{
    font-size:12px;
    background:#f2f2f2;
    color:#333;
}

#footer a{
    color:#555;
}
#footer h3{
    font-size:12px;
    color:rgb(51,51,51);
}
#footer>div.ft-content{
    width: 80%;
    margin:0 auto;
}


#footer>div.ft-content>section{
    padding:20px 0;
    color:#888;
}
/*Footer目录*/
#footer>div.ft-content>nav{
    border-top:1px solid #d6d6d6;
}
#footer>div.ft-content>nav>div{
    float:left;
    margin-right:100px;
}
#footer>div.ft-content>nav>div>div{
    margin-top:20px;
}
#footer>div.ft-content>nav>div>div>ul>li{
    margin:10px 0;
}

/*Footer底部*/
#footer>div>.ft-bottom>.ft-bottom-shop{
    border-bottom:1px solid #d6d6d6;
    padding-bottom:10px;
}
#footer>div>.ft-bottom>.ft-bottom-shop a{
    color:#0070c9;
}

#footer>div>.ft-bottom>.ft-bottom-content{
    padding:10px 0;
}
#footer>div>.ft-bottom>.ft-bottom-content>p,#footer>div>.ft-bottom>.ft-bottom-content>ul>li{
    float:left;
}
#footer>div>.ft-bottom>.ft-bottom-content>ul{
    float:left;
    margin-left:30px;
}
#footer>div>.ft-bottom>.ft-bottom-content>ul>li>b{
    margin:0 10px;
    color:#d6d6d6;
}
