#header{
    width:100%;
}
/*广告栏*/
div.ad{
    width:100%;
    height:44px;
    background:#444;
}

#header div.ad p.ad_text{
    line-height: 44px;
    font-size:12px;
    color:#a8a8aa;
    width:75%;
    margin:0 auto;
    text-align:right;
}

/*导航*/
div.nav{
    width:100%;
    height:44px;
    background:rgba(0,0,0,.8);
}

div.nav div.nav_content{
    width:80%;
    margin:0 auto;
}
div.nav div.nav_content ul{
    list-style: none;
    display:flex;
    justify-content:space-around;
}
div.nav div.nav_content ul li a{
    text-decoration: none;
    line-height:44px;
    color: #dadada;
    font-size:13px;
    transition:all .2s linear;
}
/*设置动画渐变颜色*/
div.nav div.nav_content ul li a:hover{
    color: #a6a6a6;
}
img{
    transition:all .2s linear;
}
img:hover{
    opacity: .5;
}


