/*固定顶部*/
iframe.myHeader{
    position:fixed;
    z-index:900;
    background:transparent;
}

/*设置全局样式*/
.iphone-xs{
    padding-top:88px;
}

.cta-link a{
    margin-right:20px;
    font-size:19px;
}

.homepage-section{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

.hero{
    width:100%;
    height:580px;
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}
.unit-content{
    text-align: center;
    position:relative;
    z-index:200;
    margin-top:40px;
}
.unit-content>.subhead{
    margin-top:6px;
    font-size:23px;
    font-weight:400;
}

.unit-content .cta-link{
    margin-top:9px;
}
.unit-image-wrapper{
    background-repeat: no-repeat;
    position:absolute;
    z-index: 10;
    width:100%;
    height:580px;
    background-position: center bottom;
    top:0;
}
.unit-image-inphonexs{
    background-image: url(../img/index/hero-iphone-xs_large.jpg);

}

.unit-image-inphonexr{
    background-image: url(../img/index/iphone_xr_large.jpg);
}
.unit-image-applewatch{
    background-image:url(../img/index/apple_watch_series_4_large.jpg);
    left:150px;
}


.promo{
    height:580px;
    width:50%;
    margin-bottom: 10px;
    position:relative;
    border:6px solid #fff;
    box-sizing: border-box;
    font-size:17px;
}
.promo .cta-link a{
    font-size:15px;
}
.promo .subhead{
    font-size:19px;
    font-weight:400;
}
.promo .headline{
    font-size:40px;
    font-weight:600;
}

.unit-image-applemusic{
    background-image: url(../img/index/apple_music_large.jpg);
}

.apple-music a,.apple-music .subhead{
    color:#fff;
}
.apple-music-icon{
    position: absolute;
    z-index: 10;
    bottom:40px;
    left:50%;
    margin-left:-18.5px;
}
.unit-image-applegiveback{
    background-image: url(../img/index/give_back_large.jpg);
}
.unit-image-apple-macbookpro{
    background-image: url(../img/index/macbook_pro_performance_large.jpg);
}
.unit-image-apple-ipad{
    background-image: url(../img/index/ipad_large.jpg);
}
.unit-image-apple-airpods{
    background-image: url(../img/index/airpods_large.jpg);
}
.unit-image-apple-ios12{
    background-image: url(../img/index/ios_large.jpg);
}

/*一整行都是链接*/
.unit-link{
    display:block;
    width:100%;
    height:inherit;
    position:absolute;
    z-index:100;
    cursor:pointer;
}

/*每列的Content设置*/
.apple-watch>.unit-content{
    width:25%;
    margin:200px;
}
.apple-giveback>.unit-content{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
