.section-router .router-image-face-id {
    background-image: url("/cn/iphone-xs/images/router/face_id_large.jpg")}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-router .router-image-face-id {
        background-image:url("/cn/iphone-xs/images/router/face_id_large_2x.jpg")}}
@media only screen and (max-width: 1068px) {
    .section-router .router-image-face-id {
        background-image: url("/cn/iphone-xs/images/router/face_id_medium.jpg")}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-router .router-image-face-id {
        background-image:url("/cn/iphone-xs/images/router/face_id_medium_2x.jpg")}}
@media only screen and (max-width: 735px) {
    .section-router .router-image-face-id {
        background-image: url("/cn/iphone-xs/images/router/face_id_small.jpg")}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-router .router-image-face-id {
        background-image:url("/cn/iphone-xs/images/router/face_id_small_2x.jpg")}}
.section-router .router-image-only-iphone {
    background-image: url("/cn/iphone-xs/images/router/only_iphone_large.jpg")}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-router .router-image-only-iphone {
        background-image:url("/cn/iphone-xs/images/router/only_iphone_large_2x.jpg")}}
@media only screen and (max-width: 1068px) {
    .section-router .router-image-only-iphone {
        background-image: url("/cn/iphone-xs/images/router/only_iphone_medium.jpg")}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-router .router-image-only-iphone {
        background-image:url("/cn/iphone-xs/images/router/only_iphone_medium_2x.jpg")}}
@media only screen and (max-width: 735px) {
    .section-router .router-image-only-iphone {
        background-image: url("/cn/iphone-xs/images/router/only_iphone_small.jpg")}}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-router .router-image-only-iphone {
        background-image:url("/cn/iphone-xs/images/router/only_iphone_small_2x.jpg")}}

/*针对IE11*/
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, .typography-overview-compare-headline{
        line-height: 1.4;
    }
}
