/* WEB FONT 2016.12.22 */

html[lang=zh-CN] .centeralign { padding-left: 0.4em; }
@media only screen and (max-width: 735px) { html[lang=zh-CN] .centeralign { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-CN] .centeralign { padding-left: 0; } }

/* center align all */
html[lang=zh-CN] .centerall { padding-left: 0.4em; }

/* center align medium  and small*/
@media only screen and (max-width: 1068px) { html[lang=zh-CN] .centerms { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) { html[lang=zh-CN] .centerms { padding-left: 0.4em; } }

html[lang=zh-CN] sup.star {font-size: 0.8em;}
html[lang=zh-CN] h1 sup.star, html[lang=zh-CN] h2 sup.star, html[lang=zh-CN] h3 sup.star {font-size: 0.5em;}

html[lang=zh-CN] #ac-globalfooter .ac-gf-more::after,
html[lang=zh-CN] #ac-globalfooter .ac-gf-more .icon-htc{top:-1px;}

html[lang=zh-CN] .badge-small{font-size: 15px;}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] .badge-small{font-size: 12px;}}
@media only screen and (max-width: 735px) { html[lang=zh-CN] .badge-small{font-size: 12px;}}

html[lang=zh-CN] span.badge-half.seven{ margin-left:-0.1em; }

/* <br> 在不同 viewport 的 换行 Show & Hide Start */
@media only screen and (max-width: 735px) {html[lang=zh-CN] br.hide-for-small {display: none}}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] br.hide-for-medium {display: none}}
html[lang=zh-CN] br.hide-for-large {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] br.hide-for-large {display: block}}

@media only screen and (max-width: 735px) {html[lang=zh-CN] br.show-for-small {display: block}}
@media only screen and (max-width: 320px) {html[lang=zh-CN] br.hide-for-xsmall {display: none}}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] br.show-for-medium {display: block}}

html[lang=zh-CN] br.show-for-large {display: block}
html[lang=zh-CN] br.show-only-for-small {display: none}
@media only screen and (max-width: 735px) {html[lang=zh-CN] br.show-only-for-small {display: block}}

html[lang=zh-CN] br.show-only-for-medium {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 1068px) {html[lang=zh-CN] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 735px) {html[lang=zh-CN] br.show-only-for-medium {display: none}}

html[lang=zh-CN] br.show-only-for-large {display: block}
@media only screen and (max-width: 1024px) {html[lang=zh-CN] br.show-only-for-large {display: none}}
@media only screen and (max-width: 1068px) {html[lang=zh-CN] br.show-only-for-large {display: none}}
@media only screen and (max-width: 735px) {html[lang=zh-CN] br.show-only-for-large {display: none}}

br.show-only-for-xsmall {display: none}
@media only screen and (max-width: 320px) {html[lang=zh-CN] br.show-only-for-xsmall {display: block}}

html[lang=zh-CN] br.small-hide {display: none}
html[lang=zh-CN] br.small-show {display: block}

@media only screen and (min-width: 736px) {
html[lang=zh-CN] br.medium-hide {display: none}
html[lang=zh-CN] br.medium-show {display: block}}

@media only screen and (min-width: 1069px) {
html[lang=zh-CN] br.large-hide {display: none}
html[lang=zh-CN] br.large-show {display: block}}

@media only screen and (min-width: 1442px) {
html[lang=zh-CN] br.xlarge-hide {display: none}
html[lang=zh-CN] br.xlarge-show {display: block}}


/* <br> 在不同 viewport 的 换行 Show & Hide End*/
