<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/mint-ui/style.css">
    <link rel="stylesheet" href="css/product.css">
    <title>Products</title>
</head>
<body>
<!--Top-->
<header id="header"></header>
<div id="app">
    <div class="localnav-wrapper" :style="menuHeight">
        <div class="localnav row" :class="{'menu-show':menuIndex==1}">
            <div class="localnav-header">
                <div>
                    <a href="#" class="localnav-title">MacBook Pro</a>
                    <div class="localnav-menu-icon" @click="showMenu($event)"></div>
                </div>
            </div>
            <div class="localnav-content">
                <ul class="localnav-links">
                    <li><a href="#" class="localnav-link">概览</a></li>
                    <li><a href="#" class="localnav-link">macOS</a></li>
                    <li><a href="#" class="localnav-link">技术规格</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--cover-->
    <div class="mask" v-show="showMask"></div>
    <!--main-Content-->
    <div id="main" class="main" :class="isFade.mainFade">
        <!--商品详情-->
        <div class="row as-configuration">
            <!--左侧商品图-->
            <div  data-position="sticky" class="as-configuration-img" :class="isFixed" :style="fTop" @click="removeFade()">
                <img :src="res.details.pic" width="904" height="840" class="hero-img">
                <div class="as-configurations-viewgallery">
                    <a href="javascript:;">查看图库</a>
                </div>
            </div>
            <!--右侧商品详情-->
            <div class="offset-6 col-5 as-configuration-main">
                <div class="as-configuration-header">
                    <h1 class="as-configuration-maintitle" v-text="res.details.title"></h1>
                </div>
                <div   class="as-configuration-phone-img"  @click="removeFade()">
                    <img src="img/products/macbookpro/mbp13-space-select-201807_GEO_CN.jpg" width="904" height="840" class="hero-img">
                    <div class="as-configurations-viewgallery">
                        <a href="javascript:;">查看图库</a>
                    </div>
                </div>
                <div class="as-productsummary">
                    <ul class="as-productsummary-addons">
                        <li class="as-productsummary-addon" v-for="elem of res.details.details.split('/')">
                            <span v-text="elem"></span>
                        </li>
                        <!--<li class="as-productsummary-addon">-->
                            <!--<span>Intel Iris Plus Graphics 640 图形处理器</span>-->
                        <!--</li>-->
                        <!--<li class="as-productsummary-addon">-->
                            <!--<span>8GB 2133MHz LPDDR3 内存</span>-->
                        <!--</li>-->
                        <!--<li class="as-productsummary-addon">-->
                            <!--<span>128GB 固态硬盘</span>-->
                        <!--</li>-->
                        <!--<li class="as-productsummary-addon">-->
                            <!--<span>两个雷雳 3 端口</span>-->
                        <!--</li>-->
                        <!--<li class="as-productsummary-addon">-->
                            <!--<span>背光键盘 - 中文 - 拼音</span>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!--硬件-->
                <div class="as-configuration-categoryhardware">
                    <!--处理器-->
                    <div class="as-configuration-optiongroup">
                        <h3 class="as-title-count">处理器</h3>
                        <a href="#" class="as-configuration-learnmorelink">哪一款处理器适合你?</a>
                        <div class="as-optionselector" v-for="(elem,i) of res.cpu">
                            <div class="as-optionselector-option">
                                <input type="radio" class="form-choice" name="option-processor"  @focus="showCpuPrice(i)" v-model="val.cpu" :value="i+1">
                                <div class="as-optionselector-option-content">
                                    <div class="as-optionselector-option-content-title" v-text="elem.title">

                                    </div>
                                    <div class="as-optionselector-option-content-price">
                                         {{elem.add_price|addCommas}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="as-optionselector-option">-->
                                <!--<input type="radio" class="form-choice" name="option-processor">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">-->
                                        <!--2.5GHz 双核第七代 Intel Core i7 处理器，Turbo Boost 最高可达 4.0GHz-->
                                    <!--</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 2,259-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <!--内存-->
                    <div class="as-configuration-optiongroup">
                        <h3 class="as-title-count">内存</h3>
                        <a href="#" class="as-configuration-learnmorelink">多大的内存适合你?</a>
                        <div class="as-optionselector" v-for="(elem,i) of res.memory">
                            <div class="as-optionselector-option selected">
                                <input type="radio" class="form-choice" name="option-memory" @focus="showMemoryPrice(i)" v-model="val.memory" :value="i+1">
                                <div class="as-optionselector-option-content">
                                    <div class="as-optionselector-option-content-title" v-text="elem.title"></div>
                                    <div class="as-optionselector-option-content-price">
                                        {{elem.add_price|addCommas}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="as-optionselector-option">-->
                                <!--<input type="radio" class="form-choice" name="option-memory">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">16GB 2133MHz LPDDR3 内存</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 1,506-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <!--存储设备-->
                    <div class="as-configuration-optiongroup">
                        <h3 class="as-title-count">存储设备</h3>
                        <a href="#" class="as-configuration-learnmorelink">多大的存储容量适合你?</a>
                        <div class="as-optionselector">
                            <div class="as-optionselector-option" v-for="(elem,i) of res.harddrive">
                                <input type="radio" class="form-choice" name="option-hard-drivesolid"  @focus="showHarddrivePrice(i)" v-model="val.harddrive" :value="i+1">
                                <div class="as-optionselector-option-content">
                                    <div class="as-optionselector-option-content-title" v-text="elem.title"></div>
                                    <div class="as-optionselector-option-content-price">
                                        {{elem.add_price|addCommas}}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="as-optionselector-option">-->
                                <!--<input type="radio" class="form-choice" name="option-hard-drivesolid">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">256GB 固态硬盘</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 1,586-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="as-optionselector-option">-->
                                <!--<input type="radio" class="form-choice" name="option-hard-drivesolid">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">-->
                                        <!--512GB 固态硬盘-->
                                    <!--</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 3,172-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="as-optionselector-option">-->
                                <!--<input type="radio" class="form-choice" name="option-hard-drivesolid">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">1TB 固态硬盘</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 6,104-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <!--键盘语言-->
                    <div class="as-configuration-optiongroup">
                        <h3 class="as-title-count">键盘语言</h3>
                        <a href="#" class="as-configuration-learnmorelink">进一步了解</a>
                        <div class="as-optionselector">
                            <select name="option-keyboard-and-documentation" id="option-keyboard-and-documentation" class="form-dropdown" v-model="val.lang">
                                <option v-for="(elem,i) of res.lang" :value="elem.val"  v-text="elem.title" >

                                </option>
                                <!--<option value="CE">-->
                                    <!--背光键盘 - 美式英语 - 拼音-->
                                <!--</option>-->
                                <!--<option value="CW">-->
                                    <!--背光键盘 - 繁体中文 - 仓颉与注音-->
                                <!--</option>-->
                                <!--<option value="CJ">-->
                                    <!--背光键盘 - 日语-->
                                <!--</option>-->
                                <!--<option value="CK">-->
                                    <!--背光键盘 - 韩语-->
                                <!--</option>-->
                                <!--<option value="CB">-->
                                    <!--背光键盘 - 英式英语-->
                                <!--</option>-->
                                <!--<option value="CF">-->
                                    <!--背光键盘 - 法语-->
                                <!--</option>-->
                                <!--<option value="CD">-->
                                    <!--背光键盘 - 德语-->
                                <!--</option>-->
                            </select>
                            <span class="form-label">键盘语言</span>
                            <span class="form-icon"></span>
                        </div>

                    </div>
                </div>
                <!--软件-->
                <div class="as-configuration-categorypresoftware">
                    <h2 class="as-configuration-title">预装软件</h2>
                    <!--Final Cut Pro X-->
                    <div class="as-configuration-optiongroup" v-for="(elem,i) of res.soft">
                        <h3 class="as-title-count" v-text="elem.title"></h3>
                        <a href="#" class="as-configuration-learnmorelink">进一步了解</a>
                        <div class="as-optionselector clear">
                            <div class="as-optionselector-option form-selector-twocolumns">
                                <input type="radio" class="form-choice" :name="elem.title.slice(0,5)" checked @focus="showSoftPrice(i,0)" v-model="val.soft[i]" :value="[i+1,0]">
                                <div class="as-optionselector-option-content">
                                    <div class="as-optionselector-option-content-title">
                                        无
                                    </div>
                                    <div class="as-optionselector-option-content-price">
                                        {{softPrice[i][0].add_price|addCommas}}
                                    </div>
                                </div>
                            </div>
                            <div class="as-optionselector-option form-selector-twocolumns">
                                <input type="radio" class="form-choice" :name="elem.title.slice(0,5)" @focus="showSoftPrice(i,1)" v-model="val.soft[i]" :value="[i+1,1]">
                                <div class="as-optionselector-option-content">
                                    <div class="as-optionselector-option-content-title" v-text="elem.title">

                                    </div>
                                    <div class="as-optionselector-option-content-price">
                                        {{softPrice[i][1].add_price|addCommas}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Logic Pro X-->
                    <!--<div class="as-configuration-optiongroup">-->
                        <!--<h3 class="as-title-count">Logic Pro X</h3>-->
                        <!--<a href="#" class="as-configuration-learnmorelink">进一步了解</a>-->
                        <!--<div class="as-optionselector clear">-->
                            <!--<div class="as-optionselector-option form-selector-twocolumns">-->
                                <!--<input type="radio" class="form-choice" name="option-logicPro" checked>-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">-->
                                        <!--无-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="as-optionselector-option form-selector-twocolumns">-->
                                <!--<input type="radio" class="form-choice" name="option-logicPro">-->
                                <!--<div class="as-optionselector-option-content">-->
                                    <!--<div class="as-optionselector-option-content-title">-->
                                        <!--Logic Pro X-->
                                    <!--</div>-->
                                    <!--<div class="as-optionselector-option-content-price">-->
                                        <!--+ RMB 1,286-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--包装内容-->
        <div class="as-imagelist-container row">
            <h2 class="as-imagelist-title col-12">包装内容</h2>
            <ul class="as-imagelist">
                <li class="as-imagelist-item" v-for="elem of res.pack">
                    <div class="as-imagelist-content">
                        <div class="as-imagelist-hero">
                            <img :src="elem.bg_pic">
                        </div>
                        <h3 class="as-imagelist-label" v-text="elem.title"></h3>
                    </div>
                </li>
                <!--<li class="as-imagelist-item">-->
                    <!--<div class="as-imagelist-content">-->
                        <!--<div class="as-imagelist-hero">-->
                            <!--<img src="img/products/macbookpro/mbp-witb-cable-201610.jpg" alt="image.alt.mbp-witb-cable-201610">-->
                        <!--</div>-->
                        <!--<h3 class="as-imagelist-label">USB-C 充电线(2 米)</h3>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="as-imagelist-item">-->
                    <!--<div class="as-imagelist-content">-->
                        <!--<div class="as-imagelist-hero">-->
                            <!--<img src="img/products/macbookpro/mbp-13-witb-adapter-201808_GEO_CN.jpg" alt="image.alt.mbp-13-witb-adapter-201808_GEO_CN">-->
                        <!--</div>-->
                        <!--<h3 class="as-imagelist-label">61W USB-C 电源适配器</h3>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <mt-swipe :auto="0" :show-indicator="true">
                <mt-swipe-item v-for="elem of res.pack">
                    <div class="as-imagelist-hero">
                        <img :src="elem.sm_pic" >
                    </div>
                    <h3 class="as-imagelist-label" v-text="elem.title"></h3>
                </mt-swipe-item>
                <!--<mt-swipe-item>-->
                    <!--<div class="as-imagelist-hero">-->
                        <!--<img src="img/products/macbookpro/mbp-witb-cable-201610.jpg" alt="image.alt.mbp13-witb-gray-201610">-->
                    <!--</div>-->
                    <!--<h3 class="as-imagelist-label">USB-C 充电线(2 米)</h3>-->
                <!--</mt-swipe-item>-->
                <!--<mt-swipe-item>-->
                    <!--<div class="as-imagelist-hero">-->
                        <!--<img src="img/products/macbookpro/mbp-13-witb-adapter-201808_GEO_CN_FMT_WHH.jpg" alt="image.alt.mbp13-witb-gray-201610">-->
                    <!--</div>-->
                    <!--<h3 class="as-imagelist-label">61W USB-C 电源适配器</h3>-->
                <!--</mt-swipe-item>-->
            </mt-swipe>
        </div>
        <!--底部固定栏-->
        <div id="actiontray" class="as-actiontray" :style="shopHeight" :class="{'shop-menu-show':shopIndex==1}">
            <div class="as-purchaseoptionscontainer">
                <div class="priceFinance">
                    <h2 class="price">RMB {{totalPrice|addCom}}</h2>
                    <a href="#" class="financing">更有分期付款选择。</a>
                    <div class="show-menu-link" @click="showMore($event)">
                        显示选项
                    </div>
                </div>
                <div class="add-to-cart">
                    <button type="submit" class="button" name="add-to-cart" @click="addCart()">添加到购物袋</button>
                </div>
            </div>
            <div class="as-actiontray-details">
                <div class="toggletray loan">
                    <span class="as-actiontray-icon loan-icon"></span>
                    <a href="javascript:;">12个月免息分期，每月仅约 RMB 850</a>
                </div>
                <div class="toggletray">
                    <span class="as-actiontray-icon chat-icon"></span>
                    <ul class="as-actiontray-chatonline">
                        <li>获得购买帮助:</li>
                        <li><a href="#">开始交流</a></li>
                        <li>致电 400-666-8800</li>
                    </ul>
                </div>
                <div class="toggletray">
                    <span class="as-actiontray-icon box-icon"></span>
                    <ul class="as-actiontray-chatonline">
                        <li>发货:</li>
                        <li class="as-purchaseinfo-dudeinfo-deliverymsg">1-3 个工作日</li>
                        <li class="as-purchaseinfo-dudeinfo-deliverymsg">免费送货</li>
                        <li><a href="#">查看送货日期</a></li>
                    </ul>
                </div>
                <div class="toggletray hide-btn">
                    <a href="javascript:;" @click="hideShopMenu()">隐藏选项</a>
                </div>
            </div>
        </div>
    </div>
    <!--商品图库-->
    <div class="ase-gallery" :class="isFade.galleryFade">
        <div class="ase-gallery-scroll" :style="carouselX">
            <div class="ase-gallery-item"><img src="img/products/macbookpro/mbp13-space-gallery1-201610.jpg" alt=""></div>
            <div class="ase-gallery-item"><img src="img/products/macbookpro/mbp13-space-gallery2-201807_GEO_CN.jpg" alt=""></div>
            <div class="ase-gallery-item"><img src="img/products/macbookpro/mbp13-space-gallery3-201610_GEO_CN.jpg" alt=""></div>
            <div class="ase-gallery-item"><img src="img/products/macbookpro/mbp13-space-gallery4-201610_GEO_CN.jpg" alt=""></div>
        </div>
        <div class="ase-gallery-dotnav">
            <ul>
                <li v-for="(elem,i) of proPic"><a href="#" :class="i==style.tx/-100?'active':''" @mouseenter="carousel({dire:'tabnav',i})"></a></li>
            </ul>
        </div>
        <span class="ase-gallery-prevbtn paddlenav-arrow" :class="style.tx==0?'disabled':''"  @click="carousel( {dire:'prev'})"></span>
        <span class="ase-gallery-nextbtn paddlenav-arrow" :class="style.tx==-3*100?'disabled':''" @click="carousel({dire:'next'})"></span>
        <span class="ase-gallery-close close-icon" @click="addFade()"></span>
    </div>
</div>
<!--Footer-->
<footer id="footer"></footer>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/mint-ui/index.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/product.js"></script>
</body>
</html>