<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/shopbag.css">
    <title>shopbag</title>
</head>
<body>
<!--Top-->
<header id="header"></header>
<div id="app">
    <!--main content-->
    <div id="main" class="main">
        <!--bag-banner-->
        <div class="bag-banner row">
            <div class="col-md-12 box box-style">
            <span>
                <img src="img/shopbag/delivery-message-banner.png" alt="">
            </span>
                <span class="bag-banner-title">
                享受免费送货上门服务。
            </span>
            </div>
        </div>
        <!--cart-->
        <div class="cart box-style row" v-if="hasLogin">
            <div class="box col-md-12">
                <!--标题-->
                <div class="col-md-12 clearpx">
                    <div class="clearpx box-header">
                        <h1 class="box-title">购物袋内的产品</h1>
                    </div>
                </div>
                <!--购物袋商品-->
                <div class="col-md-12 thr cart-products" v-for="(elem,index) of res">
                    <div class="row">
                        <!--商品图片-->
                        <div class="col-md-3 products-img-box">
                            <a href="javascript:;" class="products-img-link">
                                <img :src="elem.sm_pic">
                            </a>
                        </div>
                        <!--详情-->
                        <div class="col-md-9 products-content">
                            <div class="products-title">
                                <a href="javascript:;" class="products-title-link" v-text="elem.pdu_title">

                                </a>
                                <ul class="price-quantity">
                                    <li class="item">
                                        <span>RMB {{elem.totalPrice|addCommas}}</span>
                                    </li>
                                    <li class="item quantity">
                                        <button class="button" @click="changeCount(-1,index)">-</button>
                                        <input type="text" v-model="elem.count">
                                        <button class="button" @click="changeCount(+1,index)">+</button>
                                    </li>
                                    <li class="item">
                                        <span class="quantity-price">RMB {{elem.count*elem.totalPrice|addCommas}} </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="products-price">
                                RMB {{elem.totalPrice|addCommas}}
                            </div>
                            <div class="shipping-product-admin thr">
                                <span class="availShip">发货： 1-3 个工作日</span>
                                <a href="javascript:;" class="product-admin">删除</a>
                                <div class="product-number">
                                    <span>编号: Z0UH</span>
                                </div>
                            </div>
                            <div class="product-details-group clear" :class="{'details-show':productsIndex===index}" :style="productsIndex===index?detailsHeight:''">
                                <div class="show-products-details" @click="showDetails($event,index)">
                                    <h3 href="javascript:;" v-if="productsIndex!==index" class="show-link">显示商品详情</h3>
                                    <h3 href="javascript:;" v-else class="show-link">隐藏商品详情</h3>
                                </div>
                                <div class="product-details">
                                    <!--硬件-->
                                    <div class="gs">
                                        <span class="fwb">硬件</span>
                                        <ul class="gs-list">
                                            <li class="item" v-text="elem.cpu_title"></li>
                                            <li class="item">Intel Iris Plus Graphics 640 图形处理器</li>
                                            <li class="item" v-text="elem.mo_title"></li>
                                            <li class="item" v-text="elem.hd_title"></li>
                                            <li class="item">两个雷雳 3 端口</li>
                                            <li class="item" v-text="elem.lang_title"></li>
                                            <li class="item">配件套件</li>
                                            <li class="item">Force Touch 触控板</li>
                                        </ul>
                                    </div>
                                    <!--软件-->
                                    <div class="gs">
                                        <span>软件</span>
                                        <ul class="gs-list">
                                            <li class="item">macOS</li>
                                            <li class="item">照片、iMovie、GarageBand</li>
                                            <li class="item">Pages、Numbers、Keynote</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-gift">
                                <div class="product-gift-btn">
                                    <div class="product-gift-link" v-show="giftShow[index]">礼品选项</div>
                                    <a href="javascript:;" class="product-gift-link" @click="showMore(index)" v-show="!giftShow[index]">{{giftIndex===index?giftOpt:(parseInt(totalheight.height[index].height)===0?'显示礼品选项':'隐藏礼品选项')}}</a>
                                </div>
                                <div class="product-gift-details accordion accordion-hide" :style="totalheight.height[index]">
                                    <ul class="pgd-list-group">
                                        <li class="item">
                                            <input type="radio" class="pgd-list-radio"  v-model="giftPack[index]" value="0" @click="changeIndex(index)">
                                            <div class="gift-txt-box">
                                                <span>在送货清单上添加礼品赠言 - 免费</span>
                                                <div :style="giftPack[index]==0?height.height[index]:0" class="gift-textarea accordion">
                                                    <textarea name="gift-text" cols="30" rows="10" placeholder="添加免费礼物留言"></textarea>
                                                    <ul>
                                                        <li><a href="javascript:;" @click="showMore(index)">取消</a></li>
                                                        <li class="pipe"><a href="javascript:;">确认添加留言</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" v-show="elem.giftPack==1" >
                                            <input type="radio" class="pgd-list-radio" v-model="giftPack[index]" value="1" @click="changeIndex(index)">
                                            <div class="gift-txt-box">
                                                <span class="info">白色礼品包装及贺卡 - RMB 39</span>
                                                <div class="accordion gift-textarea" :style="giftPack[index]==1?height.height[index]:0">
                                                    <textarea name="gift-text" cols="30" rows="10" placeholder="在贺卡上添加文字(可选)"></textarea>
                                                    <ul>
                                                        <li><a href="javascript:;" @click="showMore(index)">取消</a></li>
                                                        <li class="pipe"><a href="javascript:;">添加礼品包装</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="phone-products-c-p">
                                <ul class="price-quantity">
                                    <li class="item quantity">
                                        <input type="text" value="1" v-model="count">
                                    </li>
                                    <li class="item">
                                        <span class="quantity-price">RMB {{total|addCommas}} </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!--总计-->
                <div class="col-md-12 thr">
                    <div class="offer-summary">
                        <table>
                            <tr class="free-shipping">
                                <td class="label">免费送货</td>
                                <td>RMB 0</td>
                            </tr>
                            <tr class="offer-total">
                                <td>总计</td>
                                <td class="total-value">RMB {{totalPrice|addCommas}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    更有分期付款选择。
                                    <br>
                                    <a href="javascript:;">更多信息&gt;</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--底部结账-->
            <div class="col-md-12 thr cart-actions">
                <div class="cart-actions-group">
                    <div class="cart-actions-left">
                        <ul class="cart-actions-left-inner">
                            <li><a class="link" href="javascript:;"> 选购配件</a></li>
                            <li class="pipe"><a class="link" href="javascript:;"> 保存购物袋</a></li>
                            <li class="pipe"><a class="link" href="javascript:;"> 查看已保存的购物袋</a></li>
                            <li class="pipe"><a class="link" href="javascript:;"> 现在聊天</a></li>
                        </ul>
                    </div>
                    <div class="cart-actions-right">
                        <button class="button">结账</button>
                    </div>
                </div>
            </div>
        </div>
        <!--notLogin-->
        <div class="login-tips box-style" v-else>
            <h1 class="tips-title">你的购物袋中没有商品。</h1>
            <p class="tips-content">登录查看你是否已保存任何商品。或者继续购物。</p>
            <a href="login.html" class="button">登录</a>
        </div>
        <!--cart-recommendations-->
        <div class="cart-recommendations row box box-style">
            <!--标题-->
            <div class="col-md-12 clearpx">
                <div class="clearpx box-header">
                    <h1 class="box-title">为你推荐</h1>
                </div>
            </div>
            <!--内容-->
            <div class="col-md-12 cart-rec-inner thr">
                <div class="row">
                    <div class="col-6 cart-rec-inner-box clearpx">
                        <!--图片-->
                        <div>
                            <a href="javascript:;">
                                <img src="img/shopbag/APPLECARE-plus.jpg">
                            </a>
                        </div>
                        <!--描述-->
                        <div class="cart-rec-details">
                            <h3 class="cart-rec-title">
                                <a href="javascript:;">适用于 iPhone XS 或 iPhone XS Max 的 AppleCare+ 全方位服务计划</a>
                            </h3>
                            <p class="cart-rec-price">RMB 1,799</p>
                            <a href="javascript:;" class="cart-button">添加到购物袋</a>
                        </div>
                    </div>
                    <div class="col-6 cart-rec-inner-box clearpx">
                        <!--图片-->
                        <div>
                            <a href="javascript:;">
                                <img src="img/shopbag/MRWY2.jpg">
                            </a>
                        </div>
                        <!--描述-->
                        <div class="cart-rec-details">
                            <h3 class="cart-rec-title">
                                <a href="javascript:;">iPhone XS 皮革保护夹 - 松林绿色</a>
                            </h3>
                            <p class="cart-rec-price">RMB 849</p>
                            <a href="javascript:;" class="cart-button">添加到购物袋</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 cart-rec-inner-box clearpx">
                        <!--图片-->
                        <div>
                            <a href="javascript:;">
                                <img src="img/shopbag/MTET2.jpg">
                            </a>
                        </div>
                        <!--描述-->
                        <div class="cart-rec-details">
                            <h3 class="cart-rec-title">
                                <a href="javascript:;">
                                    iPhone XS 皮革保护壳 - 海角蓝色</a>
                            </h3>
                            <p class="cart-rec-price">RMB 399</p>
                            <a href="javascript:;" class="cart-button">添加到购物袋</a>
                        </div>
                    </div>
                    <div class="col-6 cart-rec-inner-box clearpx">
                        <!--图片-->
                        <div>
                            <a href="javascript:;">
                                <img src="img/shopbag/MTFA2.jpg">
                            </a>
                        </div>
                        <!--描述-->
                        <div class="cart-rec-details">
                            <h3 class="cart-rec-title">
                                <a href="javascript:;">
                                    iPhone XS 硅胶保护壳 - 杏桃色</a>
                            </h3>
                            <p class="cart-rec-price">RMB 329</p>
                            <a href="javascript:;" class="cart-button">添加到购物袋</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--questions-->
        <div class="questions row box box-style">
            <!--标题-->
            <div class="col-md-12 clearpx">
                <div class="clearpx box-header">
                    <h1 class="box-title">问题</h1>
                </div>
            </div>
            <!--内容-->
            <div class="col-md-12 thr questions-section clearpx">
                <div class="faq-list" :class="{'details-show':qsIndex===1}" :style="qsIndex===1?qsHeight:''">
                    <div>
                        <h3 class="faq-title" @click="showQsDetials($event,1)">我何时能收到订购的商品？</h3>
                    </div>
                    <p class="faq-details">
                        送达日期是将您的产品送达您的收货地址的预计日期。这考虑到了仓库处理时间（即“发货”时间）和承运商的送达时间。
                        <br>
                        <br>
                        我们会在结帐流程中提供有关发货选项和送达日期的更多信息。了解有关<a href="javascripg:;">发货与交货</a>的更多信息。
                    </p>
                </div>
                <div class="faq-list" :class="{'details-show':qsIndex===2}" :style="qsIndex===2?qsHeight:''">
                    <div>
                        <h3 class="faq-title" @click="showQsDetials($event,2)">我可以使用哪些付款方式？</h3>
                    </div>
                    <p class="faq-details">
                        所有运送选项均有多种付款方式供您选择，包括信用卡和借记卡。
                        <br>
                        <br>
                        如需了解更多信息，请直接拨打 400-666-8800 咨询 Apple 业务代表。
                        <br>
                        <br>
                        了解有关<a href="javascripg:;">付款</a>方式的更多信息。
                    </p>
                </div>
                <div class="faq-list" :class="{'details-show':qsIndex===3}" :style="qsIndex===3?qsHeight:''">
                    <div >
                        <h3 class="faq-title" @click="showQsDetials($event,3)">Apple 的退货和退款政策是如何规定的？</h3>
                    </div>
                    <p class="faq-details">
                        如果您对所购产品不满意，可以按照相关规定办理退货。了解有关<a href="javascripg:;">退货和退款</a>的更多信息。
                    </p>
                </div>
            </div>
            <div class="col-md-12 thr questions-section clearpx">
                <div class="faq-list" :class="{'details-show':qsIndex===4}" :style="qsIndex===4?qsHeight:''">
                    <div>
                        <h3 class="faq-title" @click="showQsDetials($event,4)">Apple 是否提供教育折扣？</h3>
                    </div>
                    <p class="faq-details">
                        Apple 面向学生、教师以及学校的行政人员和职工提供特价优惠。如果您认为自己符合条件，请前往下订单并了解教育优惠方面的更多信息。<a href="javascripg:;"> Apple Store 教育商店</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Footer-->
<footer id="footer"></footer>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/qs.min.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/shopbag.js"></script>
</body>
</html>