/*初始化*/
body{
    margin:0;
    padding:0;
}
p,ul,li,h1,h2,h3,h4,h5,h6,figure{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:17px;
    line-height:1.47059;
    font-weight:400;
    letter-spacing:-.022em;
    background-color:#fff;
    color:#333;
    font-style:normal
}

/*h1-h6文字颜色统一颜色*/
h1,h2,h3,h4,h5,h6{
    color:#111
}

/*全局链接样式*/
a{
    color:#0070c9;
}
a:link,a:visited{
    text-decoration:none
}
a:hover{
    text-decoration:underline
}
a:active{
    text-decoration:none
}



/*初始化列表*/
ul{
    list-style: none;
}

/*取消因被float影响的父元素高度*/
.clear:after{
    content:"";
    display:block;
    clear:both;
}

/*浮动*/
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

/*黑色主题*/
.theme-dark{
    background:#000;
}
.theme-dark{
    color:#ffe5db;
}
.theme-dark a{
    color:#6bf;
}
.theme-dark h2, .theme-dark h3,.theme-dark h4,.theme-dark h5{
    color:#fff !important;
}


.hide{
    display:none;
}
.fade{
    opacity: 0;
    display: none;
}

/*顶部二级导航*/
.chapternav.theme-dark{
    background-color:#141414;
}
.chapternav{
    background-color:rgba(242,242,242,0.7);
    padding-bottom:15px;
    padding-top:15px;
    position:absolute;
    width:100%;
    z-index: 1;
}
.chapternav>.chapternav-items{
    width:70%;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.chapternav-link{
    display:block;
    color:#111;
    font-size:11px;
}
.chapternav-link:hover{
    text-decoration: none;
    color:#0070c9;
}
.theme-dark .chapternav-link{
    color:#fff !important;
}
.theme-dark .chapternav-link:hover{
    color:#6bf !important;
}
.chapternav-new{
    color:#f46c0e;
}

.section-content{
    margin:0 auto;
    width:980px;
    text-align: center;
    position:relative;
    z-index: 1;
}

.row{
    position:relative !important;
    z-index: 1 !important;
}
.link-mg{
    margin:0 10px;
}

/*清楚boot左右边距*/
.clearpx{
    padding-left:0 !important;
    padding-right:0 !important;
}
.clearmg{
    margin-left:0 !important;
    margin-right: 0 !important;
}

/*按钮*/
.button{
    padding:5px 15px;
    border-radius:5px;
    background:linear-gradient(#42a1ec,#0070c9);
    color:#fff;
    text-decoration: none;
    cursor:pointer;
    font-size:17px;
    font-weight:400;
    border:1px solid #07c;
}
.button:hover{
    background:linear-gradient(#51a9ee,#147bcd);
    border-color:#1482d0;
}
.pos-rel{
    position:relative !important;
}
.paddlenav-arrow.disabled{
    display: none;
}

@media screen and (max-width:767px){
    html{
        font-size:12px;
    }
}
@media screen and (max-width:1068px) and (min-width: 768px) {
    html {
        font-size: 15px;
    }
}