/*广告栏*/
body{
    background:rgba(0,0,0,0) !important;
}
#header{
    position: relative;
    z-index: 3;
}

#header>div.adv-wrapper{
    background:#444;
}

#header>div.adv-wrapper>div.adv-wrapper-text{
    line-height: 44px;
    font-size:12px;
    color:#a8a8aa;
    width:75%;
    margin:0 auto;
    text-align:right;
}

/*导航*/
#header>nav{
    background:rgba(0,0,0,.8);
    position:relative;
    z-index: 20;
}

#header>nav>div.gn-content{
    width:80%;
    margin:0 auto;
    position: relative;

}
#header>nav>div>ul.gn-content-list{
    display:flex;
    justify-content:space-around;
    position:relative;
    z-index: 2;
}

#header>nav>div.gn-content>ul.gn-content-list>li>a{
    line-height:44px;
    color: #dadada;
    font-size:13px;
}

#header a:hover{
    text-decoration: none;
}

/*设置主导航鼠标滑过渐变*/

#header>nav>div>ul.gn-content-list>li .gn-content-link{
    display: inline-block;
    transition:all .2s linear;
    cursor:pointer;
    height:100%;
}
#header>nav>div>ul.gn-content-list>li .gn-content-link:hover{
    opacity:.5;
}

/***********  购物袋  ***********/
#header .bag-box{
    position: absolute;
    z-index: 1;
    background:#fff;
    width:288px;
    right:-8%;
    top:52px;
    border:1px solid #d6d6d6;
    border-radius: 2px;
    font-size:.95rem;
    white-space: nowrap;
}

.bag-inner{
    padding:10px 20px;
}
#header .bag-link{
    color:#0070c9;
    display: block;
    padding: 0 30px;
    position: relative;
}
.bag-icon{
    display: block;
    position: absolute;
    height: 100%;
    width: 20px;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bag-lists-item:first-child .bag-icon{
    background-image:url("../img/header/bag.svg");
}
.bag-lists-item:nth-child(2) .bag-icon{
    background-image:url("../img/header/favorites.svg");
}
.bag-lists-item:nth-child(3) .bag-icon{
    background-image:url("../img/header/orders.svg");
}
.bag-lists-item:nth-child(4) .bag-icon{
    background-image:url("../img/header/account.svg");
}
.bag-lists-item:last-child .bag-icon{
    background-image:url("../img/header/signIn.svg");
}
#header .bag-link:hover{
    text-decoration: underline;
}
.gn-content-list-item{
    position:relative;
    height:44px;
    transition: all 0.3s ease;
}

.bag-lists-item{
    border-top:1px solid #e3e3e3;
    padding:10px 0;
}
.angelbox{
    height: 15px;
    position: absolute;
    width: 45px;
    left: -14px;
    bottom: -9px;
    overflow: hidden;
}
.angel{
    width:25px;
    height:25px;
    background:#fff;
    position:absolute;
    transform: rotateZ(45deg);
    left:10px;
    top: 7px;
    border:1px solid #d6d6d6;
    display: block;
}
.bag-details{
    font-size:.95rem;
    color:#888;
    padding:35px 0;
    text-align: center;
}

/* ------  搜索框和遮罩 -------*/
.search-box{
    position:absolute;
    z-index: 3;
    width:80%;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.search-inner{
    width:80%;
    margin:0 auto;
}
.search-top{
    height:44px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: searchresult-head .4s .1s both;
}
.search-btn{
    display:inline-block;
    width:40px;
    height:44px;
    background:url("../img/header/search.svg") no-repeat;
    background-position-x: 50%;
    transition:all .2s linear;
}
.search-btn.disabled{
    pointer-events: none;
}
.search-btn:hover{
    opacity: .6;
}
.search-input{
    background:transparent;
    border:none;
    outline: none;
    color:#fff;
    flex-grow:1;
}
.ac-gn-curtain{
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.search-content{
    background:#fff;
    padding:25px 40px;
    text-align: left;
    border:1px solid #e4e4e4;
}
.search-tips{
    font-size:.7rem;
    color:#888;
    margin-bottom:10px;
    animation: searchresult-head .4s .1s both;
}
.search-lists{
    padding-left:10px;
    font-size:1rem;
}
.search-item{
    margin:0 -6% 5px;
    padding:5px 0;
    cursor:pointer;
}
.search-item:hover{
    background:#f2f2f2;
}
.search-item:hover .search-link{
    color:#0070c9;
}
.search-link{
    color:#333;
    display: inline-block;
    animation: searchresult-show .4s both;
}
.search-item:first-child .search-link{
    animation-delay: .12s;
}
.search-item:nth-child(2) .search-link{
    animation-delay: .14s;
}
.search-item:nth-child(3) .search-link{
    animation-delay: .16s;
}
.search-item:nth-child(4) .search-link{
    animation-delay: .18s;
}
.search-item:last-child .search-link{
    animation-delay: .2s;
}

.gn-content-list.scale .gn-content-list-item:not(:first-child){
    transform:scale(0)
}
@keyframes searchresult-show {
    0%{
        transform:translateX(210px);
        opacity: 0;
    }
    100%{
        transform:translateX(45px);
        opacity: 1;
    }
}
@keyframes searchresult-head  {
    0%{
        transform:translateX(210px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}
.search-close{
    display: inline-block;
    position: absolute;
    height:44px;
    width:38px;
    right:-8%;
    top:0;
    transition:all .2s linear;
}
.search-close:hover{
    opacity: .6;
}
.close-style{
    display: inline-block;
    height:18px;
    width:1px;
    background:#fff;
    position:absolute;
    top:50%;
    margin-top:-9px;
}
.close-left{
    transform: rotateZ(45deg);
}
.close-right{
    transform: rotateZ(-45deg);
}
