/* 设置头部为固定 */
#header{
    position:fixed !important;
    width:100%;
}
.main{
    padding-top:88px;
}
/*设置全局样式*/
.iphone-xs{
    padding-top:88px;
}

.cta-link a{
    margin-right:20px;
    font-size:1.2rem;
}

.homepage-section{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.hero{
    width:100%;
    height:580px;
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}
.unit-content{
    text-align: center;
    position:relative;
    z-index:200;
    margin-top:40px;
}
.unit-content>.subhead{
    margin-top:6px;
    font-size:1.5rem;
    font-weight:400;
}

.unit-content .cta-link{
    margin-top:9px;
}
.unit-image-wrapper{
    background-repeat: no-repeat;
    position:absolute;
    z-index: 10;
    width:100%;
    height:580px;
    background-position: center bottom;
    top:0;
}
.unit-image-inphonexs{
    background-image: url("../img/index/hero-iphone-xs_large.jpg");
}

.unit-image-inphonexr{
    background-image: url("../img/index/iphone_xr_large.jpg");
}
.unit-image-applewatch{
    background-image:url("../img/index/apple_watch_series_4_large.jpg");
    background-position-x: 678px;
}


.promo{
    height:580px;
    width:50%;
    margin-bottom: 10px;
    position:relative;
    border:6px solid #fff;
    box-sizing: border-box;
    font-size:17px;
}
.promo .cta-link a{
    font-size:15px;
}
.promo .subhead{
    font-size:19px;
    font-weight:400;
}
.promo .headline{
    font-size:2.5rem;
    font-weight:600;
}

.unit-image-iPad-pro{
    background-image: url("../img/index/ipad_pro__large.jpg");
}

.unit-image-applegiveback{
    background-image: url("../img/index/give_back_large.jpg");
}
.unit-image-apple-macbook-air{
    background-image: url("../img/index/macbook_air_large.jpg");
}
.unit-image-apple-mac-mini{
    background-image: url("../img/index/mac_mini_large.jpg");
}
.unit-image-apple-gifts{
    background-image: url("../img/index/share_your_gifts_large.jpg");
}
.unit-image-apple-ios12{
    background-image: url("../img/index/ios_large.jpg");
}

/*一整行都是链接*/
.unit-link{
    display:block;
    width:100%;
    height:inherit;
    position:absolute;
    z-index:100;
    cursor:pointer;
}

/*每列的Content设置*/
.apple-watch{
    background:#fafafa;
}
.apple-watch>.unit-content{
    width:300px;
    margin:200px;
}
.apple-giveback>.unit-content{
    width:290px;
    margin-left:auto;
    margin-right:auto;
}

.homepage-section:nth-child(2) .unit-image-wrapper{
    background-color:rgb(250,250,250);
}

.iphone-xs .unit-content{
    margin-top:20px;
}
.title-image{
    display: inline-block;
    width:220px;
    height:35px;
    background-repeat: no-repeat;
}
.iphone-xs .title-image{
    background-image: url("../img/index/iphone_xs_logo_hero_large.png");
}
.iphone-xr .title-image{
    background-image: url("../img/index/iphone_xr_logo_hero_large.png");
}
/*------ 手机端 ------*/
@media screen and (max-width:767px ) {
    .show-menu.gn-content {
        position: relative !important;
        height: calc(100vh - 44px) !important;
    }
    .unit-image-inphonexs{
        background-image:url("../img/index/iphone_xs_small.jpg")
    }
    .unit-image-inphonexr{
        background-image:url("../img/index/iphone_xr_small.jpg")
    }
    .unit-image-applewatch{
        background-image: url("../img/index/all_new_medium.jpg");
        background-position-x: center;
        background-position-y: 223px;
    }
    .unit-image-iPad-pro{
        background-image: url("../img/index/ipad_pro__small.jpg");
    }
    .unit-image-applegiveback{
        background-image: url("../img/index/give_back_small.jpg");
    }
    .unit-image-apple-macbook-air{
        background-image: url("../img/index/macbook_air_small.jpg");
    }
    .unit-image-apple-mac-mini{
        background-image: url("../img/index/mac_mini_small.jpg");
    }
    .unit-image-apple-gifts{
        background-image: url("../img/index/share_your_gifts_small.jpg");
    }
    .apple-watch>.unit-content{
        margin-left: auto;
        margin-right: auto;
        width:100%;
        margin-top:40px;
    }
    .apple-watch{
        background:#fafafa;
    }
    .iphone-xs{
        height:490px;
        padding-top:50px;
    }
    .title-image{
        width:155px;
        height:25px;
    }
    .iphone-xs .title-image{
        background-image: url("../img/index/iphone_xs_logo_hero_small.png");
    }
    .iphone-xr .title-image{
        background-image: url("../img/index/iphone_xs_logo_hero_small.png");
    }
    .promo{
        width:100%;
        height:500px;
    }
    .unit-image-wrapper{
        height:500px;
    }
    .hero{
        height:500px;
        padding:0;
    }
}

/*------ 平板端 ------*/
@media screen and (max-width:1068px) and (min-width: 768px){
    .unit-image-inphonexs{
        background-image:url("../img/index/iphone_xs_medium.jpg")
    }
    .unit-image-inphonexr{
        background-image:url("../img/index/iphone_xr_medium.jpg")
    }
    .unit-image-apple-macbook-air{
        background-image: url("../img/index/macbook_air_medium.jpg");
    }
    .unit-image-applewatch{
        background-position-x: 520px;
    }
    .apple-watch>.unit-content {
        width: 270px;
        margin: 189px;
    }
    .unit-image-iPad-pro{
        background-image: url("../img/index/ipad_pro__medium.jpg");
    }
    .unit-image-applegiveback{
        background-image: url("../img/index/give_back_medium.jpg");
    }
    .unit-image-apple-mac-mini{
        background-image: url("../img/index/mac_mini_medium.jpg");
    }
    .unit-image-apple-ios12{
        background-image: url("../img/index/ios_m.jpg");
        background-position-x: -328px;
    }
    .unit-image-apple-gifts{
        background-image: url("../img/index/share_your_gifts_medium.jpg");
    }
    .iphone-xs{
        height:490px;
        padding-top:50px;
    }
    .title-image{
        width:184px;
    }
    .iphone-xs .title-image {
        background-image: url("../img/index/iphone_xs_logo_hero_medium.png");
    }
    .iphone-xr .title-image{
        background-image: url("../img/index/iphone_xs_logo_hero_medium.png");
    }
    .homepage-section:nth-child(2) .unit-image-wrapper{
        height: 502px;
    }
    .promo{
        height:502px;
    }

}