body{
    background:#f1f1f1 !important;
}
.main{
    width:980px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
.box{
    margin-bottom:10px;
    padding:1.5rem;
}
.box-style{
    background:#fff;
    border-radius:5px;
    box-shadow:
            0.1rem 0 0 0 #d2d2d2,
            -0.1rem 0 0 0 #d2d2d2,
            0.2rem 0 0 0 #e6e6e6,
            -0.2rem 0 0 0 #e6e6e6,
            0 0.1rem 0 0 #b6b6b6,
            0 0.2rem 0 0 #d2d2d2,
            0 0.3rem 0 0 #e6e6e6,
            0 -0.1rem 0 0 #e6e6e6;
}
.thr{
    border-top:1px solid #d5d5d5;
}

.account{
    margin-bottom:10px;
}
/****account-header****/
.account-header{
    justify-content: space-between;
    padding-bottom:10px;
}
.account-header-title{
    font-size:1.5rem;
}
.account-secure{
    line-height: 28px;
    padding-left:14px;
    font-size:12px;
    background: url(../img/login/icon-lock-header-gray.png) no-repeat 0 8px;
}

/******account-content******/
.account-content>div{
    padding-top:5rem;
    padding-bottom:5rem;
}
.login-title{
    font-size:1.2rem;
    font-weight:700;
    margin-bottom:20px;
}
.login,.login-pwd{
    display:block;
    border-radius:5px;
    border:1px solid #d6d6d6;
    box-shadow: inset 0 1px 4px #AAA;
    width:80%;
    margin-bottom:20px;
    padding:5px 0 5px 10px;
}

.login-link,.server-link{
    font-size:.8rem;

}
.login-links{
    width:80%;
}
.account-content .button{
    padding-left:25px;
    padding-right:25px;
    float:right;
}
.account-server{
    padding-left:50px !important;
    padding-right:50px !important;
    background:url(../img/login/bg-signin-divider.png) no-repeat;
}
.server-title{
    font-size:1.1rem;
}
.server-list{
    margin-top:15px;
    margin-bottom:15px;
    padding-left:20px;
    list-style-type:disc;
    list-style-position:inside;
    color:#666;
}

/*******account-navigation*******/
.account-navigation{
    padding:20px 30px;
    display:flex;
    justify-content: space-between;
    background:linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.account-details{
    font-size:.8rem;
    line-height: 2rem;
}
.account-btn{
    padding:0 25px;
    border-radius:5px;
    color:#0085cc;
    font-size:.8rem;
    border:1px solid #b5b5b5;
    background:linear-gradient(#fff,#ebebeb);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    cursor:pointer;
}
.account-btn:hover{
    background:linear-gradient(#fff, #d5d5d5);
}
.details-img{
    padding-left:20px;
    background:url(../img/login/phone.png) no-repeat bottom left;
}