/*统一样式*/

.section-setting{
    margin-top:50px;
    text-align: center;
    padding-top:50px;
    position:relative;
    box-sizing:border-box;
    background-color:#fafafa;
}
.gallery .section-content{
    text-align: left;
}
.typography-callout{
    font-size:2rem;
    font-weight:600;
    margin-bottom:12px;
}
.typography-callout+p{
    margin-bottom:13px;
}

/*轮播*/
.gallery{
    position:relative;
    padding-top:113px;
}
.gallery-container{
    height:100%;
    position:relative;
}
.gallery .section-content{
    height:100%;
    position:relative;
}

/*gallery-elements*/
.gallery-elements{
    position:absolute;
    z-index: 2;
    left:14%;
}

.gallery-headline{
    font-size:1.65rem;
    font-weight:600;
    color:#f2f2f2;
    padding-top:100px;
}
.gallery-tabnav{
    position: absolute;
    width:100%;
    z-index: 10;
    height:20%;
}
.gallery-dotnav{
    position:absolute;
    bottom:20%;
    left:14%;
    z-index: 10;
}
.gallery-dotnav>ul{
    display:flex;
    justify-content: space-around;
    height:8px;
    width:44px;
}
.gallery-dotnav>ul>li>a{
    display:block;
    border:4px solid #fff;
    border-radius:50%;

}
.gallery-dotnav>ul>li{
    opacity: .3;
    cursor: pointer;
}
.gallery-dotnav>ul>li:hover{
    opacity: .8;
}
.gallery-dotnav>ul>li.active{
    opacity: .8;
    cursor: default;
    pointer-events: none;
}


.gallery-tabnav-item{
    white-space: nowrap;
    position: absolute;
    top:123%;
    opacity: .5;
    transition: all .2s linear;
}
.gallery-tabnav-item:hover{
    opacity: 1;
    text-decoration: none;
}
.gallery-tabnav-item.active{
    opacity: 1 !important;
}
.gallery-tabnav-link:hover{
    text-decoration: none;
}
.gallery-tabnav-item:first-child{
    left:-30%;
}
.gallery-tabnav-item:nth-child(2){
    left:15%;
}
.gallery-tabnav-item:nth-child(3){
    left:65%;
}
.gallery-tabnav-item:last-child{
    left:110%;
}

.gallery-tabnav-link{
    font-size:5.65rem;
    color:#fff !important;
}


/*gallery-content*/
.gFade{
    opacity: 0;
}
.code.gFade{
    z-index: -1 !important;
}
.code{
    position:absolute !important;
    top:0;
}
.gallery-content{
    position:relative;
    width:100%;
    height:100%;
    transition:opacity .4s linear;
    z-index: 1;
}
.gallery-video{
    background:#fff;
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
    z-index:-1;
}
.gallery-video video{
    width:100%;
}



.gallery-gallery-photographer{
    position:absolute;
    bottom:29%;
    left:14%;
    width:35%;
}

.gallery-caption{
    font-size:1.2rem;
    color:#fff;
    margin-bottom:10px;
    font-weight:600;
}
.links-wrapper-link{
    color:#fff !important;
    font-weight:600;
    font-size:1.2rem;
}

.slide-container{
    overflow: hidden;
    position:relative;
    z-index: 1;
    height:100%;
    width:100%;
}

/*Product*/
.product-content{
    position:relative;
    z-index: 2;
    height:805px;
}
.product-headline{
    font-size:4.7rem;
    font-weight:600;
}
.product-subheadline{
    font-weight:600;
    font-size:2.35rem;
    margin-bottom:20px;
}
.product-background-box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index: 0;
}
.product-img{
    height:100%;
    background-repeat: no-repeat;
}
.product-img-macbook-pro{
    background-position:center bottom;
    background-image: url(../img/Mac/hero_large.jpg);
    background-color:rgb(19,18,24);
}
.product-img-imac-pro{
    background-image: url(../img/Mac/imac_pro_01_large.jpg);
    background-position: center bottom;
}

.imacpro{
    height:968px;
    background:#1A1A1A;
}

.product-img-imac{
    background-image: url(../img/Mac/imac_large.jpg);
    background-position: center 90%;
}
.imac{
    height:1107px;
}

.product-img-macbook{
    background-image: url(../img/Mac/macbook_large.jpg);
    background-position: center 90%;
}
.macbook{
    height:705px;
    background-color:#fafafa;
}

.compare{
    height:630px;
}
.product-img-compare{
    background-image: url(../img/Mac/compare_large.jpg);
    background-position: center 90%;
}

.typography-headline{
    font-size:2.35rem;
    font-weight:600;
    margin-bottom:16px;
}
.typography-headline+p{
    margin-bottom:16px;
}
.typography-intro{
    font-size:1.23rem;
    font-weight:400;
}
.typography-eyebrow{
    font-size:1.4rem;
    font-weight:600;
    margin-bottom:7px;
}

.trade>.section-content{
    padding:130px 0;
}
.trade .typography-intro{
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

.shop>.section-content{
    display: flex;
    justify-content: space-around;
    padding:130px 0;
}
.shop-content{
    width:28%;
}
.shop .typography-headline{
    font-size:1.23rem;
    font-weight:500;
    margin-bottom:5px;
}

.compare{
    height:650px;
}
.product-img-accessories{
    background-image:url(../img/Mac/accessories_large.jpg);
    background-position: center 90%;
}

.macos-and-icloud{
    overflow: hidden;
    background-color:#fff !important;
    height:1062px;
    padding:65px 0 80px 0;
}
.product-img-macos-and-icloud{
    background-image: url(../img/Mac/macos_icloud_large.jpg);
    background-position: center 20%;
}
.macos-and-icloud>.section-content{
    position:absolute;
    bottom:100px;
    display: flex;
    justify-content: space-around;
    left:50%;
    margin-left:-470px;
}
.macos-and-icloud-content{
    width:45%;
    text-align: left;
}

/*app*/
.app{
    background-color:#fff;
    margin-top:0;
}
.app>.section-setting:first-child{
    margin-top:0;
}
.app-content{
    margin-top:70px;
    position: relative;
    box-sizing:border-box;
    padding-bottom:108px;
}
.app-content-inner{
    height:780px;
}
.app-content-pro{
    height:645px;
}

.tabnav{
    width:72%;
    margin:0 auto;
    padding-bottom:72px;
}
.nav-icon{
    width:48px;
    height:77px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.tabnav-item{
    display: inline-block;
    border-bottom:1px solid #d6d6d6;
}
.tabnav-item:not(:first-child){
    padding-left:50px;
}
.tabnav-link{
    text-align: center;
    color:#333;
    font-size:0.8rem;
    position: relative;
    display: block;
    padding:9px 0 11px 0;
}
.tabnav-link:hover{
    color:#0070c9;
    text-decoration: none;
}
.current-link::after{
    content:"";
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    border-bottom:1px solid #666;
}

.nav-image-photo{
    background-image: url(../img/Mac/nav_icon_photos_large.jpg);
}
.nav-image-iMovie{
    background-image: url(../img/Mac/nav_icon_imovie_large.jpg);
}
.nav-image-band{
    background-image: url(../img/Mac/nav_icon_garageband_large.jpg);
}
.nav-image-Pages{
    background-image: url(../img/Mac/nav_icon_pages_large.jpg);
}
.nav-image-Numbers{
     background-image: url(../img/Mac/nav_icon_numbers_large.jpg);
 }
.nav-image-Keynote{
    background-image: url(../img/Mac/nav_icon_keynote_large.jpg);
}
.nav-image-Safari{
    background-image: url(../img/Mac/nav_icon_safari_large.jpg);
}

.gallery-app{
    position: absolute;
    width:980px;
    display:flex;
    justify-content: space-around;
    transition: all .4s linear;
}
.screen{
    position: relative;
    background-repeat: no-repeat;
}
.gallery-app-content{
    width:30%;
    text-align: left;
    padding-top:6rem;
}
.app-content-inner>.gallery-app>.gallery-app-content{
    top:100px;
}
.app-content-pro>.gallery-app>.gallery-app-content{
    top:70px;
}

.image-bia-hardware{
    width:606px;
    height:489px;
    background-image: url(../img/Mac/bia_hw_large.png);
}
.image-pro-hardware{
    width:625px;
    height:364px;
    background-image: url(../img/Mac/gallery_hw_large.png);
}

.screen>.app-inner-image{
    height:313px;
    width:556px;
    background-repeat: no-repeat;
    position: absolute;
    top:24px;
    left:24px;
}
.screen>.app-pro-inner-image{
    height:300px;
    width:479px;
    background-repeat: no-repeat;
    position: absolute;
    top:19px;
    left:73px;
}
.image-bia-photos{
    background-image:url(../img/Mac/bia_photos_large.jpg);
}
.image-bia-imovie{
    background-image:url(../img/Mac/bia_imovie_large.jpg);
}
.image-bia-band{
    background-image:url(../img/Mac/bia_garageband_large.jpg);
}
.image-bia-Pages{
    background-image:url(../img/Mac/bia_pages_large.jpg);
}
.image-bia-Numbers{
    background-image: url(../img/Mac/bia_numbers_large.jpg);
}
.image-bia-Keynote{
    background-image: url(../img/Mac/bia_keynote_large.jpg);
}
.image-bia-Safari{
    background-image: url(../img/Mac/bia_safari_large.jpg);
}

/*app-pro*/
.nav-image-Final{
    background-image: url(../img/Mac/nav_icon_finalcut_large.jpg);
}
.nav-image-Logic{
    background-image: url(../img/Mac/nav_icon_logicpro_large.jpg);
}
.nav-image-Motion{
    background-image: url(../img/Mac/nav_icon_motion_large.jpg);
}
.nav-image-Compressor{
    background-image: url(../img/Mac/nav_icon_compressor_large.jpg);
}
.nav-image-MainStage{
    background-image: url(../img/Mac/nav_icon_mainstage_large.jpg);
}

.image-pro-FinalCut{
    background-image: url(../img/Mac/pro_finalcut_large.jpg);
}
.image-pro-Logic{
    background-image: url(../img/Mac/pro_logicpro_large.jpg);
}
.image-pro-Motion{
    background-image: url(../img/Mac/pro_motion_large.jpg);
}
.image-pro-Compressor{
    background-image: url(../img/Mac/pro_compressor_large.jpg);
}
.image-pro-MainStage{
    background-image: url(../img/Mac/pro_mainstage_large.jpg);
}

.macOS{
    height:650px;
}
.macOS .row{
    top:50%;
    margin-top:-100px;
}
.img-macOS{
    background-image: url(../img/Mac/mojave_large.jpg);
}

.education{
    height:960px;
    background-color:#fff !important;
    display: flex;
    justify-content: space-between;
}


.education-background-img{
    height:632px;
    background-repeat: no-repeat;
}
.img-education{
    background-image:url(../img/Mac/education_large.jpg);
}
.img-higher-education{
    background-image:url(../img/Mac/higher_education_large.jpg);
}
.education-box{
    width:50%;
}
.education-box:last-child{
    margin-left:40px;
}
.education-content{
    margin-top:40px;
}
.education-content>p{
    margin-bottom:10px;
}

.bussiness{
    background-color: #fff !important;
    margin-top:0;
    padding-bottom:110px;
}
.img-bussiness{
    width:100%;
    height:632px;
    background-repeat: no-repeat;
    background-image: url(../img/Mac/business_large.jpg);
    margin-bottom:50px;
}

.imacpro .product-background-box{
    background-color:#1a1a1a;
}