.main{
    padding-top:50px;
}
#app{
    position: relative;
    z-index: 1;
}
.localnav-wrapper{
    border-bottom:1px solid rgba(136,136,136,.4);
}
.localnav{
    flex-wrap: nowrap;
    width:73%;
    margin:0 auto !important;
    padding:7px 0 10px;
    display: flex;
    justify-content: space-between;
}
.localnav-title{
    font-size:1.4rem;
    font-weight:500;
    margin-top:3px;
    margin-bottom:13px;
    color:#111;
}
.localnav-content{
    line-height:36px;
    width: 16%;
    min-width: 160px;
}
.localnav-header a{
    text-decoration: none;
}
.localnav-header a:hover{
    text-decoration: none;
    color:#111;
}
.localnav-links{
    display:flex;
    justify-content: space-between;
    margin:0;
}
.localnav-link{
    font-size:0.7rem;
    font-weight:400;
    color:#333;
}
.localnav-link:hover{
    color:#0070c9;
    text-decoration: none;
}

.as-configuration-categoryhardware{
    border-top:1px solid #d6d6d6;
}
.as-configuration{
    width:100%;
    margin-left:0 !important;
    margin-right:0 !important;
}
.as-configuration-header{
    padding-right:45px;
}
.as-configuration-maintitle{
    font-size:2.1rem;
    font-weight:600;
    min-width:480px;
}
.as-productsummary-addons{
    margin-top:12px;
}
.as-productsummary-addon{
    font-size:.8rem;
    font-weight:400;
    margin-bottom: 11px;

}
.as-title-count{
    font-size:1rem;
    font-weight:600;
}
.as-configuration-learnmorelink{
    font-size:.8rem;
    font-weight:400;
    color:#0070c9;
}
.as-optionselector{
    margin-top:10px;
    font-size:1rem;
    font-weight:600;
    position:relative;
}
.as-optionselector-option{
    margin-bottom:15px;
    position: relative;
}


.as-optionselector-option-content{
    padding:11px 14px;
    width:100%;
    min-height:83px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #d6d6d6;
    border-radius:5px;
}
.as-optionselector-option-content-title{
    width:35%;
    min-width: 183px;
}
.form-choice{
    display: inline-block;
    width:100%;
    height:100%;
    position:absolute;
    opacity: 0;
    cursor: pointer;
}
.form-choice:checked~.as-optionselector-option-content{
    border:2px solid #0070c9;
}
.form-choice:checked:focus~.as-optionselector-option-content{
    box-shadow:0 0 0 3px rgba(131,192,253,.5);
}
.form-choice:not(:checked):hover~.as-optionselector-option-content{
    border-color: #7b7b7b;
}
.form-dropdown{
    font-size:1rem;
    font-weight:400;
    display: block;
    height:3.3em;
    width:100%;
    color:#333;
    border:1px solid #d6d6d6;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left:14px;
    padding-top:11px;
}
.form-label{
    position:absolute;
    top:4px;
    left:15px;
    font-size:0.7rem;
    font-weight:400;
    color:#666;
    pointer-events: none;
}
.form-icon{
    width:20px;
    height:12px;
    background-image: url(../img/icon/arrow.png);
    position:absolute;
    right:20px;
    top:25px;
    pointer-events: none;
}
.as-configuration-categorypresoftware{
    margin-top:40px;
}
.as-configuration-title{
    font-size:1.4rem;
    font-weight:600;
}
.form-selector-twocolumns{
    width:50%;
    float:left;
}
.form-selector-twocolumns:first-child>.as-optionselector-option-content{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.form-selector-twocolumns:last-child>.as-optionselector-option-content{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.form-selector-twocolumns>.as-optionselector-option-content{
    flex-direction: column;
    justify-content: space-around;
}
.form-selector-twocolumns .as-optionselector-option-content-title{
    width:100%;
    text-align: center;
}
.as-configuration-optiongroup{
    margin-top:15px;
}

.as-imagelist-container{
    border-top:1px solid #d6d6d6;
    margin-top:20px;
    padding-top:66px;
    padding-bottom:50px;
    margin-left:0 !important;
    margin-right:0 !important;
}
.as-imagelist-title{
    text-align: center;
    font-size:2.35rem;
    font-weight:600;
}
.as-imagelist{
    display:flex;
    text-align: center;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}
.as-imagelist-label{
    font-size:.8rem;
    font-weight:400;
    margin-top:20px;
    padding:0 50px;
}
.as-imagelist-hero{
    background: #f9f9f9;
}

.as-configuration-img{
    position:absolute;
    text-align: center;
    left:8%;
}
.as-configuration-img.fixed{
    position:fixed;
    top:0;
    left:8.9%;
}

.hero-img{
    width:410px;
    height:auto;
    cursor:pointer;
}
.as-configurations-viewgallery{
    text-align: center;
    font-size: .8rem;
    font-weight:400;
}

.as-actiontray{
    min-height:115px;
    position: fixed;
    bottom:0;
    border-top:1px solid #d6d6d6;
    font-size:.7rem;
    font-weight:400;
    background:#f8f8f8;
    z-index: 999;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.as-actiontray .row{
    flex-wrap: nowrap;
}
.as-actiontray-icon{
    display:inline-block;
    width:20px;
    height:22px;
    background-repeat: no-repeat;
    background-size:100%;
    vertical-align: middle;
}
.loan-icon{
    background-image:url("../img/icon/finance-ribbon-2014_GEO_CN.png");
    margin-right:10px;
}
.chat-icon{
    background-image:url("../img/icon/chat.png");
}
.box-icon{
    background-image: url("../img/icon/box.png");
}
.as-actiontray-chatonline{
    text-align: left;
    margin-left:10px;
}
.toggletray{
    display: flex;
    margin-top:20px;
    justify-content: center;
}
.as-purchaseinfo-dudeinfo-deliverymsg{
    color:#888;
}

.priceFinance{
    text-align: right;
}
.price{
    font-size:1.88rem;
    font-weight:600;
    margin:0;
}
.as-purchaseoptionscontainer{
    display: flex;
    margin-top:20px;
}
.add-to-cart{
    margin-left:20px;
    margin-top:10px;
}


/*商品图库*/
.ase-gallery{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 100000;
    background:#f2f2f2;
    overflow: hidden;
    opacity: 1;
    transition:opacity .4s ease;
}
.ase-gallery-scroll{
    height:100%;
    transform:translateX(0);
    transition:all .4s linear;
    white-space: nowrap;
}
.ase-gallery-item{
    display:inline-block;
    width:100%;
    text-align: center;
    height:inherit;
}
.ase-gallery-item img{
    position: relative;
    top:50%;
    max-width:90%;
    max-height:90%;
    width:auto;
    height:auto;
    transform:translateY(-50%);
}
.ase-gallery-dotnav{
    position:absolute;
    bottom:15px;
    left:50%;
    margin-left:-46px;
}

.ase-gallery-dotnav ul li{
    float:left;
    margin-left:15px;
}
.ase-gallery-dotnav ul li a{
    display: inline-block;
    height:8px;
    width:8px;
    border-radius: 50%;
    background:rgba(136,136,136,.4);
}
.ase-gallery-dotnav ul li a:hover{
    background:rgba(136,136,136,.7);
}
.ase-gallery-dotnav .active{
    background:rgba(136,136,136,.7);
}
.ase-gallery-close{
    position:absolute;
    left:25px;
    top:30px;
    cursor: pointer;
    display: inline-block;
    width:30px;
    height:30px;
    transition: all .4s ease;
}
.close-icon{
    background:url(../img/icon/close.png);
    background-size:100%;
}
.close-icon:hover{
    opacity: .6;
}

.ase-gallery-prevbtn{
    left:3%;
    background:url(../img/icon/arrL.png)
}
.ase-gallery-nextbtn{
    right:3%;
    background:url(../img/icon/arrR.png)
}
.paddlenav-arrow{
    position: absolute;
    cursor:pointer;
    transition: all .4s ease;
    background-size:100%;
    background-repeat: no-repeat;
    display: inline-block;
    width:40px;
    height:40px;
    top:50%;
    margin-top:-20px;
    opacity: .4;
}
.paddlenav-arrow:hover{
    opacity: .8;
}
.gallery-fade{
    z-index: -1;
    opacity: 0;
}
#footer{
    padding-bottom:130px;
}

/*------ 平板端 ------*/
@media screen and (max-width:1068px) and (min-width: 768px){
    .hero-img{
        width: 300px;
    }
    .as-configuration-maintitle{
        min-width: 350px;
    }
    .as-imagelist-hero >img{
        height:315px;
    }
    .as-imagelist-label{
        padding:0;
    }
    .as-configuration-main{
        padding:0;
    }
}
.as-configuration-phone-img{
    display: none;
}
.toggletray.loan{
    display: none;
}
.as-actiontray-details{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.toggletray.hide-btn{
    display: none;
}
.show-menu-link{
    display: none;
}
/*------ 手机端 ------*/
@media screen and (max-width: 767px){
    .localnav{
        flex-direction: column;
    }
    .as-configuration-img{
        display:none;
    }
    .as-configuration-main{
        width:100%;
        max-width: none;
        margin-left:0;
        flex:none;
        padding-right: 25px;
        padding-left: 25px;
    }
    .as-configuration-phone-img{
        display: block;
        text-align: center;
        margin:40px 0;
    }
    .hero-img{
        width:224px;
    }
    .as-configuration-header{
        padding-right:0;
    }
    .as-configuration-maintitle{
        min-width: auto;
        width:90%;
    }
    .as-configurations-viewgallery{
        margin-top:15px;
    }
    .as-productsummary{
        margin-bottom:20px;
    }
    .as-configuration-categoryhardware{
        padding-top:10px;
    }
    .as-optionselector{
        font-size:1.3rem
    }
    .as-optionselector-option-content-title{
        min-width: 160px;
    }
    .form-icon{
        width: 12px;
        top: 19px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .as-title-count{
        font-size:1.3rem;
    }
    .as-imagelist{
        display: none;
    }
    .mint-swipe{
        height: 480px;
        width: 90%;
        margin: 30px auto 0;
    }
    .mint-swipe img{
        height:392px;
    }
    .mint-swipe-indicator.is-active{
        background:#000;
        opacity: .5;
    }
    .mint-swipe-indicator{
        margin: 0 7px;
    }
    .as-imagelist-hero{
        text-align: center;
    }
    .as-imagelist-label{
        text-align: center;
    }
    .localnav-links{
        flex-direction: column;
    }
    .localnav-content{
        width: 82%;
        margin: 12px auto;
    }
    .localnav-links li~li{
        border-top:1px solid #eaeaea;
    }
    .localnav-wrapper{
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 40px;
        z-index: 3;
        background: #fff;
        transition: height .4s ease;
    }

    .localnav{
        width:90%;
        padding-top:4px;
    }
    .localnav-header>div{
        display: flex;
        justify-content: space-between;
    }
    .localnav-menu-icon:after{
        display: inline-block;
        content: "";
        width: 22px;
        height: 20px;
        background:url("../img/icon/sprites.svg");
        background-repeat: no-repeat;
        background-size: auto 10.0rem;
        background-position: -32.6rem -0.0rem;
        transition:transform .2s ease;
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-11px;
        margin-top:-5px;
        transform-origin:center top;
    }
    .menu-show .localnav-menu-icon:after{
        transform:rotateX(180deg);
    }
    .localnav-menu-icon{
        width:20%;
        position:relative;
    }
    .as-actiontray{
        display: block;
        top:0;
        bottom:unset;
        min-height: auto;
        padding-left:20px;
        padding-right:20px;
        overflow: hidden;
        height:0;
        transition:all .4s ease;
    }

    .toggletray.loan{
        display: block;
    }
    .as-actiontray-details{
        flex-direction: column;
        width:100%;
    }
    .as-purchaseoptionscontainer{
        margin-top:0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 20px;
    }
    .financing{
        display: none;
    }
    .priceFinance{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .toggletray{
        justify-content:flex-start;
    }
    .toggletray.hide-btn{
        display: block;
    }
    .toggletray.hide-btn:after{
        display: inline-block;
        content: "";
        width: 20px;
        height: 17px;
        background-image: url(../img/icon/sprites.svg);
        background-repeat: no-repeat;
        background-size: auto 8rem;
        background-position: -259px -65px;
        vertical-align: bottom;
        position: absolute;
        left: 69px;
    }
    .show-menu-link{
        display: block;
        width:100%;
        text-align: left;
        margin-top:5px;
        position: relative;
        color:#0070c9;
    }
    .show-menu-link:after{
        display: inline-block;
        content: "";
        width:20px;
        height:17px;
        background-image:url("../img/icon/sprites.svg");
        background-repeat: no-repeat;
        background-size: auto 8rem;
        background-position: -313px -65px;
        vertical-align: bottom;
        position:absolute;
        left:50px;
    }
    .as-actiontray.shop-menu-show .show-menu-link{
        display: none;
    }
    .as-actiontray.shop-menu-show .price{
        transform: translateY(15px);
    }
    .mask{
        height:calc( 100vh - 88px );
        width:100%;
        position:fixed;
        top:88px;
        background:rgba(0,0,0,.2);
        z-index: 2;
    }
}
