body{
    background:#f1f1f1 !important;
}
.main{
    padding-bottom:50px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
.box-style{
    background:#fff;
    border-radius:5px;
    box-shadow:
            0.1rem 0 0 0 #d2d2d2,
            -0.1rem 0 0 0 #d2d2d2,
            0.2rem 0 0 0 #e6e6e6,
            -0.2rem 0 0 0 #e6e6e6,
            0 0.1rem 0 0 #b6b6b6,
            0 0.2rem 0 0 #d2d2d2,
            0 0.3rem 0 0 #e6e6e6,
            0 -0.1rem 0 0 #e6e6e6;
}
.box{
    margin-bottom:10px;
    padding:1.5rem;
}
.bag-banner-title{
    font-size:0.9rem;
    line-height: 24px;
    margin-left:10px;
}
.thr{
    border-top:1px solid #d5d5d5;
}
.box-header{
    margin-bottom:10px;
}
.box-title{
    font-size:1.5rem;
    font-weight:400;
}

.cart-actions{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background:linear-gradient(to bottom,#fff 0,#f2f2f2 70%,#f2f2f2 100%);
}
.cart-actions-group{
    display: flex;
    justify-content: space-between;
    padding:15px 10px 20px;
}
.cart-actions-left{
    display:flex;
    align-items: center;
}
.cart-actions-left-inner{
    display: flex;
}
.pipe{
    padding-left:10px;
    margin-left:10px;
    border-left:1px solid #c2c2c2;
}
.cart-actions-left-inner .link{
    font-size:13px;
    color:#0070c9;
}
.cart-actions-right .button{
    font-size:1rem;
    padding:10px 30px;
}

.cart-products .row{
    margin-top:20px;
}
.products-img-box{
    text-align: center;
}
.products-img-link{
    display:block;
}
.products-title-link{
    color:#000;
    font-size:14px;
    font-weight:700;
}
.products-title-link:hover{
    color:#0070c9;
    text-decoration: none;
}
.cart-products{
    font-size:12px;
    margin-bottom:30px;
}
.price-quantity{
    float:right;
    display:flex;
    justify-content: space-between;
}

.price-quantity .quantity-price{
    font-weight:700;
    font-size:14px;
}
.price-quantity .item span{
    line-height:26px;
}
.price-quantity .quantity input{
    text-align: center;
    border-radius:5px;
    box-shadow:inset 0 0.1rem 0.1rem #AAA;
    border:1px solid #d6d6d6;
    width:32px;
    height:26px;
    margin:0 5px;
}
.item .button{
    padding:0 10px;
}
.quantity{
    display: flex;
    padding:0 45px;
}
.shipping-product-admin{
    position:relative;
    margin-top:20px;
    padding-top:10px;
}
.availShip{
    color:#666;
}
.product-admin{
    display:inline-block;
    float:right;
}
.product-number{
    position:absolute;
    right:0;
    top:30px;
    color:#c4c4c4;
}
.gs-list{
    color:#666;
    list-style:disc;
}
.fwb{
    font-weight:700;
}
.gs{
    float:left;
    width:45%;
}
.gs:last-child{
    margin-left:20px;
}
.gs-list{
    margin-left:45px;
}
.gs-list>.item:not(:first-child){
    margin-top:10px;
}
.product-details-group{
    margin-top:20px;
}
.product-gift-link:first-child{
    display: inline;
}
.product-gift-link{
    margin-top:10px;
}
.product-gift-link.disabled{
    pointer-events: none;
    color:#333;
}
.product-gift-btn{
    margin-top:10px;
    padding:7px 35px;
    background: url(../img/shopbag/gift-icon-large.svg) no-repeat;
    background-size:auto 100%;
}
.product-gift-details{
    margin-top:5px;
    padding-left:35px;
}
.pgd-list-group>.item{
    margin-bottom:10px;
    position: relative;
}
.pgd-list-radio{
    height:1.2rem;
    width:1.2rem;
    margin-right:10px;
    position:absolute;
}
.product-gift{
    margin-top:15px;
}
.gift-txt-box{
    margin-left:32px;
    width:84%;
}
.gift-textarea{
    margin-top:15px;
}
.gift-textarea textarea{
    border-radius: 5px;
    border:1px solid #ccc;
    box-shadow:inset 0 0.1rem 0 #e5e5e5;
    resize:none;
    overflow: auto;
    padding-left:5px;
    height:80px;
    width:100%;
}
.gift-textarea ul{
    display: flex;
    justify-content: center;
}
.accordion{
    height:0;
    transition:height .4s ease;
    overflow: hidden;
}
.accordion-hide{
    height:0;
}
.offer-summary{
    float:right;
    margin-top:15px;
}
.offer-summary table{
    font-size:12px;
}
.free-shipping{
    color:#390;
}
.free-shipping .label{
    font-weight:700;
}
.offer-total{
    border-top:1px solid #dfdfdf;
    color:#000;
    font-size:16px;
    font-weight:700;
}
.offer-total td{
    padding-top:10px;
    padding-left:20px;
}
.offer-summary td{
    text-align: right;
}
.total-value{
    font-size:1.3rem;
}
.cart{
    margin-bottom:10px;
}
.cart-rec-inner{
    padding-top:10px;
}
.cart-rec-inner .row{
    margin-bottom:30px;
}
.cart-rec-inner-box{
    display: flex;
    justify-content: space-between;
}
.cart-rec-title{
    line-height: 0.6;
    padding-top:10px;
}
.cart-rec-price{
    margin-top:20px;
    font-size:12px;
    margin-bottom:20px;
}
.cart-rec-title>a{
    font-size:14px;
    color:#000;
    font-weight:700;
}
.cart-rec-details{
    padding-left:10px;
    padding-right:15px;
    flex-grow: 1;
}
.cart-button{
    display:inline-block;
    color:#0085cf;
    font-size:13px;
    padding:10px 25px;
    background:linear-gradient(#fff,#ebebeb);
    border:1px solid #b5b5b5;
    box-shadow:inset 0 0.1rem 0 rgba(255,255,255,.2);
    border-radius:4px;
}
.cart-button:hover{
    text-decoration: none;
    color:#0085cf;
    box-shadow: 0 0 0 3px rgb(193,223,254);
}
.questions-section{
    padding-bottom:10px;
}
.faq-list{
    width:32%;
    float:left;
    padding-left:40px;
    padding-right:15px;
}
.faq-title{
    line-height: 25px;
    padding-top:12px;
    margin-bottom:6px;
    font-size:1rem;
    font-weight:400;
}
.faq-details{
    padding-top:5px;
    margin-bottom:10px;
    font-size:12px;
    font-weight:400;
    color:#666;
}
.products-price{
    display: none;
}
.show-products-details{
    display: none;
}
.phone-products-c-p{
    display: none;
}
.login-tips{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:50px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom:10px;
}
.login-tips .button{
    text-align: center;
    width: 210px;
    display: block;
    margin-top: 20px;
}
.tips-title{
    margin-bottom:20px;
    font-size:2.5rem;
    font-weight:600;
}

/*------ 手机端 ------*/
@media screen and (max-width:767px ) {
    .main{
        margin-top:0;
        width:100%;
        padding-bottom: 20px;
    }
    .box-style{
        box-shadow: none;
    }
    .row{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .bag-banner{
        border-bottom: 1px solid #d5d5d5;
    }
    .bag-banner>.box{
        margin-bottom: 0;
    }
    .products-img-box{
        position:absolute;
        width: auto;
        padding:0 !important;
        left:0;
    }
    .products-content{
        padding-left:105px;
        padding-right:0;
    }
    .products-title{
        padding-right:58px;
    }
    .products-title .price-quantity>.item{
        display: none;
    }
    .products-price{
        margin-top:10px;
        display: block;
    }
    .shipping-product-admin.thr{
        border:none;
    }
    .shipping-product-admin{
        padding-top:0;
    }
    .product-number{
        display: none;
    }
    .cart-products{
        padding:0 !important;
    }
    .product-admin{
        display: none;
    }
    .product-details-group{
        border-top:1px solid #d5d5d5;
        border-bottom:1px solid #d5d5d5;
        overflow: hidden;
        transition: height .4s linear;
        height:47px;
    }
    .show-products-details{
        display: block;
        color:#158cfb;
        position:relative;
    }
    .show-link{
        padding-top: 15px;
        padding-bottom: 16px;
        font-size:1rem;
        color:#158cfb;
    }
    .show-products-details:after{
        display: inline-block;
        content: "";
        background-image: url("../img/icon/sprites.svg");
        background-repeat: no-repeat;
        background-size: auto 10.0rem;
        background-position: -32.6rem -3.5rem;
        height: 1rem;
        width: 1.5rem;
        position: absolute;
        right: 0;
        top: 15px;
        transition:all .2s ease;
    }
    .show-products-details>a:hover{
        text-decoration: none;
    }
    .product-details{
        display: flex;
        flex-direction: column;
    }
    .gs{
        width:100%;
    }
    .gs:last-child{
        margin-top:15px;
        padding-top:15px;
        padding-bottom:15px;
        border-top:1px solid #d5d5d5;
        margin-left:0;
    }
    .gs-list{
        margin-left:16px;
    }
    .gs-list>.item:not(:first-child){
        margin-top:0;
    }
    .product-details-group.details-show>.show-products-details:after{
        transform:rotate(180deg);
    }
    .cart-products{
        margin-bottom:0;
    }
    .product-gift-details{
        padding-left:0;
        margin-top:15px;
    }
    .gift-txt-box{
        margin-left:30px;
    }
    .pgd-list-radio{
        height: 1.7rem;
        width: 1.7rem;
        margin-right:0;
    }
    .phone-products-c-p{
        display: block;
        padding-top: 10px;
        border-top: 1px solid #d5d5d5;
    }
    .phone-products-c-p .price-quantity{
        float:none;
    }
    .phone-products-c-p .price-quantity .quantity{
        padding:0;
    }
    .phone-products-c-p .price-quantity .item+.item{
        line-height: 32px;
    }
    .phone-products-c-p .price-quantity .quantity>input{
        width: 60px;
        height: 32px;
        text-align: right;
        padding-right:10px;
    }
    .cart-products .row{
        margin-bottom: 15px;
    }
    .cart-actions{
        background:#f2f2f2;
    }
    .cart-actions-group{
        flex-direction: column-reverse;
    }
    .cart-actions-right .button{
        width:100%;
        background:#158cfb;
        border-color:transparent;
        padding:13px 0;
    }
    .cart-actions-left{
        margin-top:10px;
    }
    .cart-actions-left-inner{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .cart-actions-left-inner>li{
        padding-top:10px;
        padding-bottom:10px;
    }
    .cart-actions-left-inner .pipe{
        border-left:none;
        border-top:1px solid #d5d5d5;
        padding-left:0;
        margin-left:0;
    }
    .cart-rec-inner{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .cart-rec-inner-box{
        flex-direction: column;
    }
    .cart-button{
        background:#fff;
        border-color:#e6e6e6;
    }
    .cart-rec-details{
        display: flex;
        flex-direction: column;
    }
    .cart-rec-title{
        flex: 1;
    }
    .questions-section{
        display: flex;
        flex-direction: column;
        padding-bottom:0;
    }
    .questions-section:last-child{
        border-top:none;
    }
    .faq-list{
        width:100%;
        padding:0;
        border-bottom:1px solid #d5d5d5;
        overflow: hidden;
        transition:all .4s linear;
        height:49px;
    }
    .faq-title{
        position:relative;
        color:#158cfb;
    }
    .faq-title:after{
        display: inline-block;
        content: "";
        background-image: url(../img/icon/sprites.svg);
        background-repeat: no-repeat;
        background-size: auto 10.0rem;
        background-position: -32.6rem -3.5rem;
        height: 1rem;
        width: 1.5rem;
        position: absolute;
        right: 0;
        top: 17px;
        transition:all .2s ease;
    }
    .details-show .faq-title:after{
        transform:rotate(180deg);
    }
    .faq-details{
        padding-bottom: 5px;
    }
    .login-tips{
        margin-left:0;
        margin-right:0;
    }
    .tips-title{
        font-size:2.0rem;
    }
    .tips-content{
        font-size:1.2rem;
    }
    .login-tips .button{
        background:#158cfb;
        width: 250px;
    }
}

/*------ 平板端 ------*/
@media screen and (max-width:1068px) and (min-width: 768px){
    .item .button{
        display: none;
    }
    .quantity{
        padding:0 13px;
    }
}